
if (dbo.Man_Deploy_CheckInstallation('23') = 0)
begin
 print 'Criterion is not installed for this installation'
 return
end 

-- Begin *** CRITERION JOIN = N'INNER JOIN AT_CASE_EXTRA ON AT_CASE_CORE.CASE_CODE = AT_CASE_EXTRA.CASE_CODE'
if exists (select CRJ_CODE from AT_CRITERIA_JOINS where CRJ_JOIN = N'INNER JOIN AT_CASE_EXTRA ON AT_CASE_CORE.CASE_CODE = AT_CASE_EXTRA.CASE_CODE')
  begin
    if not exists (select CRJ_CODE from AT_CRITERIA_JOINS where CRJ_JOIN = N'INNER JOIN AT_CASE_EXTRA ON AT_CASE_CORE.CASE_CODE = AT_CASE_EXTRA.CASE_CODE' and CRJ_INTERNAL = 0)
      begin
        print 'Update: CRITERION JOIN = ''INNER JOIN AT_CASE_EXTRA ON AT_CASE_CORE.CASE_CODE = AT_CASE_EXTRA.CASE_CODE'''
        update AT_CRITERIA_JOINS set CRJ_LAST_UPD = getdate(), CRJ_LAST_UPD_BY = N'system', CRJ_MODIFICATION_NUM = CRJ_MODIFICATION_NUM + 1,
                                     CRJ_JOIN = N'INNER JOIN AT_CASE_EXTRA ON AT_CASE_CORE.CASE_CODE = AT_CASE_EXTRA.CASE_CODE', CRJ_INTERNAL = 0 where CRJ_JOIN = N'INNER JOIN AT_CASE_EXTRA ON AT_CASE_CORE.CASE_CODE = AT_CASE_EXTRA.CASE_CODE'
      end
    else
      print 'Unchanged: CRITERION JOIN = ''INNER JOIN AT_CASE_EXTRA ON AT_CASE_CORE.CASE_CODE = AT_CASE_EXTRA.CASE_CODE'''
  end

else
  begin
    print 'Insert: CRITERION JOIN = ''INNER JOIN AT_CASE_EXTRA ON AT_CASE_CORE.CASE_CODE = AT_CASE_EXTRA.CASE_CODE'''
    insert into AT_CRITERIA_JOINS 
    select getdate(), getdate(), N'system', N'system', 1, 0, 1, N'INNER JOIN AT_CASE_EXTRA ON AT_CASE_CORE.CASE_CODE = AT_CASE_EXTRA.CASE_CODE',N'The target field refers to AT_CASE_EXTRA',N'CASE EXTRA',N'AT_CASE_EXTRA',1
  end
-- End *******************

-- Begin *** CRITERION = N'CRITERIO_25901'
declare @CRJ_CODE int
declare @CRI_TYPE int
declare @CRI_CATEGORY int
set @CRJ_CODE = null
set @CRI_TYPE = null
set @CRI_CATEGORY = null
select @CRJ_CODE = CRJ_CODE from AT_CRITERIA_JOINS where CRJ_JOIN = N'INNER JOIN AT_CASE_EXTRA ON AT_CASE_CORE.CASE_CODE = AT_CASE_EXTRA.CASE_CODE'
select @CRI_TYPE = LOV_CODE from AT_LST_OF_VAL L inner join AT_LOV_TYPES LT on L.LOVT_CODE = LT.LOVT_CODE where LT.LOVT_DESC = N'CRITERIA_TYPES' and L.LOV_INTERNAL_DESC = N'Text'
select @CRI_CATEGORY = LOV_CODE from AT_LST_OF_VAL L inner join AT_LOV_TYPES LT on L.LOVT_CODE = LT.LOVT_CODE where LT.LOVT_DESC = N'CRITERIA_CATEGORIES' and L.LOV_INTERNAL_DESC = N'CRITERIA_CATEGORIES_QUANTITATIVE_DATA_VALUES'
if (@CRJ_CODE is not null and @CRI_TYPE is not null and @CRI_CATEGORY is not null)
begin
  if exists (select CRI_CODE from AT_CRITERIA where CRI_UNIQUE_ID = N'CRITERIO_25901')
    begin
      if not exists (
        select CRI_CODE from AT_CRITERIA
        where CRI_INTERNAL = 0 and CRI_DESC = N'Account Segment' and
              CRI_UNIQUE_ID =N'CRITERIO_25901' and
              CRI_USER_DEFINED_FLAG =0 and
              CRI_DEPLOYED_FLAG =1 and
              CRI_SETTLEMENT_FLAG =0 and
              CRI_TYPE = @CRI_TYPE and CRI_QUEUE = 1 and CRI_DYNAMIC_QUEUE = 1 and
              CRI_WORKLIST = 1 and CRI_REVOCATION = 1 and CRI_ORDER = 0 and
              CRI_CATEGORY = @CRI_CATEGORY and CRI_TABLE = N'VW_AT_LST_OF_VAL' and CRI_FIELDS = N'LOV_DESC,LOV_COMMENTS,LOV_DESC' and
              CRI_WHERE = N'LOV_TYPE=''SEGMENTATION_FLAG_ACCOUNT_SEGMENT'' and LOV_ACTIVE=1 and LOV_INTERNAL=0' and CRI_WHERE_SHOW = N'LOV_TYPE=''SEGMENTATION_FLAG_ACCOUNT_SEGMENT''' and 
              CRI_SCORING = 0 and CRI_DECISION_TREE = 1 and CRI_RETURN_DUPLICATE_FLAG = 0 and WLT_INTDESC = N'' and CRI_IS_TERRITORIAL = 0 and
              CRI_WHERE_FIELD_SQL_TYPE = N'nvarchar(50)' and
              CRI_CLOSED_CASES = 0 and 
              CRJ_CODE = @CRJ_CODE and CRI_WHERE_TABLE = N'AT_CASE_EXTRA' and CRI_WHERE_FIELD = N'ISNULL(CAEX_CUSTOM_TEXT_01,''N/A'')' and CRI_IS_CUSTOMER_LEVEL = 0 and CRI_STRATEGY = 1)
begin
 print 'Update: CRITERION = ''CRITERIO_25901'''
 update AT_CRITERIA 
 set CRI_LAST_UPD = getdate(), CRI_LAST_UPD_BY = N'system', CRI_MODIFICATION_NUM = CRI_MODIFICATION_NUM + 1,
     CRI_INTERNAL = 0, CRI_DESC = N'Account Segment',
     CRI_USER_DEFINED_FLAG =0,
     CRI_DEPLOYED_FLAG =1,
     CRI_SETTLEMENT_FLAG=0,
     CRI_UNIQUE_ID =N'CRITERIO_25901',
     CRI_TYPE = @CRI_TYPE, CRI_QUEUE = 1, CRI_DYNAMIC_QUEUE = 1,
     CRI_WORKLIST = 1, CRI_REVOCATION = 1, CRI_ORDER = 0,
     CRI_CATEGORY = @CRI_CATEGORY, CRI_TABLE = N'VW_AT_LST_OF_VAL', CRI_FIELDS = N'LOV_DESC,LOV_COMMENTS,LOV_DESC',
     CRI_WHERE = N'LOV_TYPE=''SEGMENTATION_FLAG_ACCOUNT_SEGMENT'' and LOV_ACTIVE=1 and LOV_INTERNAL=0', 
     CRI_WHERE_SHOW = N'LOV_TYPE=''SEGMENTATION_FLAG_ACCOUNT_SEGMENT''', 
     CRI_SCORING = 0, CRI_DECISION_TREE=1, CRI_RETURN_DUPLICATE_FLAG=0,           
     CRJ_CODE = @CRJ_CODE, CRI_WHERE_TABLE = N'AT_CASE_EXTRA',
     CRI_WHERE_FIELD = N'ISNULL(CAEX_CUSTOM_TEXT_01,''N/A'')',
	 CRI_IS_CUSTOMER_LEVEL = 0, CRI_STRATEGY = 1, 
     WLT_INTDESC = N'',
     CRI_IS_TERRITORIAL = 0,
     CRI_WHERE_FIELD_SQL_TYPE = N'nvarchar(50)',
     CRI_CLOSED_CASES = 0
     where CRI_UNIQUE_ID = N'CRITERIO_25901'
 end
else
 print 'Unchanged: CRITERION = ''CRITERIO_25901'''
end
else
  begin
    print 'Insert: CRITERION = ''CRITERIO_25901'''
    insert into AT_CRITERIA 
     (CRI_CREATED,CRI_LAST_UPD,CRI_CREATED_BY,CRI_LAST_UPD_BY,
      CRI_MODIFICATION_NUM,CRI_INTERNAL,ENT_CODE,
      CRI_DESC,CRI_TYPE,
      CRI_QUEUE,CRI_DYNAMIC_QUEUE,CRI_WORKLIST,CRI_REVOCATION,CRI_ORDER,
      CRI_CATEGORY,CRI_TABLE,CRI_FIELDS,CRI_WHERE,CRJ_CODE,
      CRI_WHERE_TABLE,CRI_WHERE_FIELD,CRI_IS_CUSTOMER_LEVEL,CRI_STRATEGY,
      CRI_UNIQUE_ID,CRI_WHERE_SHOW,CRI_SCORING, CRI_DECISION_TREE,CRI_RETURN_DUPLICATE_FLAG,WLT_INTDESC,CRI_IS_TERRITORIAL, CRI_WHERE_FIELD_SQL_TYPE,
      CRI_USER_DEFINED_FLAG,CRI_DEPLOYED_FLAG, CRI_CLOSED_CASES,CRI_SETTLEMENT_FLAG)
    select getdate(), getdate(), N'system', N'system', 1, 0, 1, N'Account Segment',
           @CRI_TYPE, 1, 1, 1, 1, 0,
           @CRI_CATEGORY, N'VW_AT_LST_OF_VAL', N'LOV_DESC,LOV_COMMENTS,LOV_DESC', N'LOV_TYPE=''SEGMENTATION_FLAG_ACCOUNT_SEGMENT'' and LOV_ACTIVE=1 and LOV_INTERNAL=0', @CRJ_CODE, N'AT_CASE_EXTRA',
           N'ISNULL(CAEX_CUSTOM_TEXT_01,''N/A'')', 0, 1, N'CRITERIO_25901', N'LOV_TYPE=''SEGMENTATION_FLAG_ACCOUNT_SEGMENT''' , 
           0,1,0,N'', 0, N'nvarchar(50)', 0, 1,0,0 
      
      end
  end
else
  print 'Problem with: CRITERION = ''CRITERIO_25901'''

-- End *******************

