<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
     <!-- <add name="conn" connectionString="Data Source=127.0.0.1;Initial Catalog=master; User Id=sa; Password=123456;Integrated Security=false" providerName="System.Data.sqlclient" />-->
     <add name="QBCollection_Plus_6_9_Dev" connectionString="Data Source=q-srv-devel12;Initial Catalog=QBCollection_Plus_6_9; Integrated Security=true" providerName="System.Data.sqlclient" />
     <add name="QBCollection_Plus_6_8_Dev" connectionString="Data Source=q-srv-devel12;Initial Catalog=QBCollection_Plus_6_8; Integrated Security=true" providerName="System.Data.sqlclient" />
     <add name="QBCollection_Plus_6_7_Dev" connectionString="Data Source=q-srv-devel12;Initial Catalog=QBCollection_Plus_6_7; Integrated Security=true" providerName="System.Data.sqlclient" />
     <add name="QBCollection_Plus_6_5_Dev" connectionString="Data Source=q-srv-devel12;Initial Catalog=QBCollection_Plus_6_5; Integrated Security=true" providerName="System.Data.sqlclient" />
     <add name="QBCollection_Plus_6_4_Dev" connectionString="Data Source=q-srv-devel12;Initial Catalog=QBCollection_Plus_6_4; Integrated Security=true" providerName="System.Data.sqlclient" />
     <add name="QBCollection_Plus_6_3_Dev" connectionString="Data Source=q-srv-devel12;Initial Catalog=QBCollection_Plus_6_3; Integrated Security=true" providerName="System.Data.sqlclient" />
     <add name="QBCollection_Plus_6_2_Dev" connectionString="Data Source=q-srv-devel12;Initial Catalog=QBCollection_Plus_6_2; Integrated Security=true" providerName="System.Data.sqlclient" />
  </connectionStrings>
</configuration>